/* CSS rules */

/* 1rem=16px */

* {
  box-sizing: border-box;
  /* margin: 1rem; */
}

/* 
#siteLayout{
  overflow: hidden;
} */

p {
  text-align: center;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* .box p:first-of-type {
  font-size: 2.5rem;
} */

.shortText {
  font-size: 2rem;
  background-color: yellow;
}

.longText {
  font-size: 0.75rem;
  background-color: tomato;
}

.box {
  width: 750px;
  height: 500px;
  background-color: yellowgreen;
  border: 2.5rem dashed blue;
}

/* jednostki wzgledne */

html {
  font-size: 62.5%;
  /* odpowiednik 10px bo 10/16 */
}

.parent {
  font-size: 2rem;
}

.child1 {
  font-size: 1.5em;
  /* 1.5 x 32 = 48*/
}

.child2 {
  font-size: 0.5em;
}

.secondchild1 {
  font-size: 0.75em;
  display: flex;
  justify-content: center;
  text-align: center;
}

/* @media rules */

@media screen and (max-width: 575px) {
  body {
    margin: 0;
    /* background-color: green; */
  }

  .shortText {
    font-weight: bold;
  }

  .longText {
    display: none;
    padding: 40px;
  }

  .box {
    width: 100%;
    padding: 50px;
    border: 3rem solid red;
    margin: 0 auto;
    /* wycentrowujemy diva */
  }

  .lenorImg {
    background-image: url("https://www.drmaxdrogeria.pl/_i/-906516972.webp?m2=%2Fmedia%2Fcatalog%2Fproduct%2F0%2F1%2F01ef90efd6356_8001841182162_T1.png&fit=contain&w=350&h=350&format=webp");
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 80%;
    float: left;
    background-repeat: no-repeat;
  }

  .card9 {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  .lenorTittle {
    font-size: 2rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: #9f0e0e;
  }

  .lenorContent {
    padding-top: 1rem;
    text-align: justify;
    padding-right: 2rem;
    font-size: 2rem;
  }
  .lenorBoxContent {
    padding: 2rem;
  }

  .lenorImg {
    background-image: url("https://www.drmaxdrogeria.pl/_i/-906516972.webp?m2=%2Fmedia%2Fcatalog%2Fproduct%2F0%2F1%2F01ef90efd6356_8001841182162_T1.png&fit=contain&w=350&h=350&format=webp");
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 80%;
    float: left;
    background-repeat: no-repeat;
  }

  .card9 {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  .lenorTittle {
    font-size: 3.5rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: #fff;
  }

  .lenorContent {
    width: 100%;
    padding-top: 1rem;
    text-align: justify;
    padding-right: 2rem;
    font-size: 1.8rem;
  }
  .lenorBoxContent {
    padding: 1rem;
  }

  .box:nth-child(9) .card {
    background: none;
  }

  .box:nth-child(9) {
    background: linear-gradient(#5f94e9, #aaafe6);
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  body {
    margin: 5px auto;
    /* background-color: lightgray; */
  }

  .shortText,
  .longText {
    margin: 0 5px;
  }

  .boxes {
    display: flex;
    /* flex-wrap: wrap; */
    margin: 0;
    flex-wrap: wrap;
  }

  /* .longText {
    margin: 20px;
  } */

  .box {
    width: 50vw;
    border: none;
    /* padding: 5px; */
    background-color: rgb(51, 149, 188);
    border: 5px solid white;
    height: auto;
  }

  .box:nth-child(3) {
    width: 100%;
  }

  .card {
    background-color: rgb(130, 238, 143);
    width: 100%;
    height: 50vh;
  }

  .child1 {
    font-size: 3.5em;
  }

  .child2 {
    font-size: 0.5em;
  }

  .secondchild1 {
    font-size: 0.75em;
  }

  .lenorImg {
    background-image: url("https://www.drmaxdrogeria.pl/_i/-906516972.webp?m2=%2Fmedia%2Fcatalog%2Fproduct%2F0%2F1%2F01ef90efd6356_8001841182162_T1.png&fit=contain&w=350&h=350&format=webp");
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 80%;
    float: left;
    background-repeat: no-repeat;
  }

  .card9 {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  .lenorTittle {
    font-size: 2rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: #fff;
  }

  .lenorContent {
    padding-top: 1rem;
    text-align: justify;
    padding-right: 2rem;
    font-size: rem;
  }
  .lenorBoxContent {
    padding: 1rem;
  }

  .lenorImg {
    background-image: url("https://www.drmaxdrogeria.pl/_i/-906516972.webp?m2=%2Fmedia%2Fcatalog%2Fproduct%2F0%2F1%2F01ef90efd6356_8001841182162_T1.png&fit=contain&w=350&h=350&format=webp");
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 80%;
    float: left;
    background-repeat: no-repeat;
  }

  .card9 {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  .lenorTittle {
    font-size: 1.5rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: #fff;
  }

  .lenorContent {
    padding-top: 1rem;
    text-align: justify;
    padding-right: 2rem;
    font-size: 1.3rem;
  }
  .lenorBoxContent {
    padding: 1rem;
  }

  .box:nth-child(9) .card {
    background: none;
  }

  .box:nth-child(9) {
    background: linear-gradient(#5f94e9, #aaafe6);
    border: 1px solid rgb(129, 129, 130);
  }

  .box:nth-child(2) img {
    float: left;
    padding-right: 20px;
    max-width: 60%;
    max-height: 60%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .shortText,
  .longText {
    display: none;
  }

  .boxes {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    flex-direction: column;
    height: 100vh;
  }

  .box {
    width: calc(50vw - 4px);
    /* 8px domyslny margin od body w przegladarce */
    height: calc(100vh / 2);
    border: 1px solid rgb(236, 236, 80);
  }

  .box:nth-child(3),
  .box:nth-child(4),
  .box:nth-child(6),
  .box:nth-child(7),
  .box:nth-child(8) {
    display: none;
  }

  .box:nth-child(1) img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40vh;
  }

  .secondchild1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .jajo {
    background-color: yellow;
    animation-name: spin;
    animation-duration: 650ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    text-align: center;
    mix-blend-mode: multiply;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .jajo:hover {
    animation-play-state: paused;
    transform: scale(15);
    transition: all 0.2s ease-in-out;
  }

  .box:nth-child(1) {
    background: rgb(236, 255, 0);
    background: -moz-linear-gradient(
      11deg,
      rgba(236, 255, 0, 1) 0%,
      rgba(58, 183, 22, 1) 47%,
      rgba(255, 0, 236, 1) 100%
    );
    background: -webkit-linear-gradient(
      11deg,
      rgba(236, 255, 0, 1) 0%,
      rgba(58, 183, 22, 1) 47%,
      rgba(255, 0, 236, 1) 100%
    );
    background: linear-gradient(
      11deg,
      rgba(236, 255, 0, 1) 0%,
      rgba(58, 183, 22, 1) 47%,
      rgba(255, 0, 236, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ecff00",endColorstr="#ff00ec",GradientType=1);
  }
  .box:nth-child(2) {
    background: rgb(20, 165, 195);
    background: linear-gradient(
      335deg,
      rgba(20, 165, 195, 1) 9%,
      #64df87 42%,
      rgb(255, 249, 85) 95%
    );
    overflow: auto;
  }
  .box:nth-child(2) img {
    float: left;
    padding: 0 10px;
    max-width: 70%;
  }

  .spring {
    font-size: 2.5vw;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #069742;
    padding: 0.5rem;
  }

  .newText {
    width: 100%;
    height: 100%;
    text-align: justify;
    padding: 0 7px;
    font-size: 1.8vw;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #ffffff;
  }
  .card-4 {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .flower-container {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .flower {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  .flower1 {
    animation: showFlower1 4s 0s forwards;
  }

  .flower2 {
    animation: showFlower2 4s 4s forwards;
  }

  .flower3 {
    animation: showFlower3 4s 8s forwards;
  }

  .flower4 {
    animation: showFlower4 4s 12s forwards;
  }

  @keyframes showFlower1 {
    0% {
      opacity: 0;
    }

    25% {
      opacity: 1;
    }

    50% {
      opacity: 1;
    }

    75% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes showFlower2 {
    0% {
      opacity: 0;
    }

    25% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    75% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes showFlower3 {
    0% {
      opacity: 0;
    }

    25% {
      opacity: 0;
    }

    50% {
      opacity: 0;
    }

    75% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes showFlower4 {
    0% {
      opacity: 0;
    }

    25% {
      opacity: 0;
    }

    50% {
      opacity: 0;
    }

    75% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .box:nth-child(9) {
    background: linear-gradient(#5f94e9, #aaafe6);
    border: 1px solid rgb(129, 129, 130);
    padding: 1rem;
    overflow: auto;
  }

  .lenorTittle {
    text-align: center;
    font-size: 2rem;
    color: #fff;
    margin-top: 0;
    text-transform: uppercase;
  }

  .lenorContent {
    text-align: justify;
    font-size: 1.6rem;
  }

  .lenorContent img {
    width: 50%;
    float: right;
    animation: fade 2s linear;
  }

  .lenorContent img:hover {
    transform: scale(110%);
  }

  .lenorTittle2 {
    font-size: 1.5rem;
    margin: 1rem 0;
    font-style: italic;
    text-align: center;
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .shortText,
  .longText {
    display: none;
  }

  .box .longText {
    display: block;
  }

  .boxes {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    flex-direction: column-reverse;
    height: 100vh;
  }

  .box {
    width: calc(50vw - 8px);
    /* 8px domyslny margin od body w przegladarce */
    height: calc(100vh / 3);
    border: 5px solid grey;
  }

  .boxLastline,
  .box:nth-child(4),
  .box:nth-child(5) {
    height: calc(100vh / 6);
  }

  .box:nth-child(1) {
    order: 0;
  }

  .box:nth-child(2) {
    order: -1;
  }

  .box:nth-child(3) {
    order: -2;
  }

  .box:nth-child(8) {
    display: none;
  }

  .box:nth-child(9) {
    height: calc(100vh / 3);
  }

  .lenorImg {
    background-image: url("https://www.drmaxdrogeria.pl/_i/-906516972.webp?m2=%2Fmedia%2Fcatalog%2Fproduct%2F0%2F1%2F01ef90efd6356_8001841182162_T1.png&fit=contain&w=350&h=350&format=webp");
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 80%;
    float: left;
    background-repeat: no-repeat;
  }

  .card9 {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  .lenorTittle {
    font-size: 2rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: #fff;
  }

  .lenorContent {
    padding-top: 1rem;
    text-align: justify;
    padding-right: 2rem;
    font-size: 1.3rem;
  }
  .lenorBoxContent {
    padding: 1rem;
  }

  .lenorImg {
    background-image: url("https://www.drmaxdrogeria.pl/_i/-906516972.webp?m2=%2Fmedia%2Fcatalog%2Fproduct%2F0%2F1%2F01ef90efd6356_8001841182162_T1.png&fit=contain&w=350&h=350&format=webp");
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 80%;
    float: left;
    background-repeat: no-repeat;
  }

  .card9 {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  .lenorTittle {
    font-size: 2rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: #fff;
  }

  .lenorContent {
    padding-top: 1rem;
    text-align: justify;
    padding-right: 2rem;
    font-size: 1.3rem;
  }
  .lenorBoxContent {
    padding: 1rem;
  }

  .box:nth-child(9) {
    background: linear-gradient(#5f94e9, #aaafe6);
    border: 1px solid rgb(129, 129, 130);
  }
}

@media screen and (min-width: 1200px) {
  .shortText,
  .longText {
    display: none;
  }

  .box .longText {
    display: block;
  }

  .boxes {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    flex-direction: row;
    height: 100vh;
  }

  .box {
    width: calc((100vw / 3) - 16px / 3);
    /* 8px domyslny margin od body w przegladarce */
    height: calc(100vh / 2);
    border: 5px solid grey;
    justify-content: center;
  }

  .box:nth-child(1) {
    justify-content: center;
  }

  .boxLastline,
  .box:nth-child(4),
  .box:nth-child(5) {
    width: calc(((100vw) / 6 - 16px / 6));
  }

  .box:nth-child(3) {
    order: 1;
    flex-basis: calc(2 * ((100vw) / 6 - 16px / 6));
  }

  .box:nth-child(2) {
    order: 2;
    flex-grow: 2;
    flex-basis: calc(((100vw) / 6 - 16px / 6));
  }

  .box:nth-child(1) {
    order: 3;
    flex-grow: 3;
    flex-basis: calc(((100vw) / 6 - 16px / 6));
    background: rgb(236, 255, 0);
    background: -moz-linear-gradient(
      11deg,
      rgba(236, 255, 0, 1) 0%,
      rgba(58, 183, 22, 1) 47%,
      rgba(255, 0, 236, 1) 100%
    );
    background: -webkit-linear-gradient(
      11deg,
      rgba(236, 255, 0, 1) 0%,
      rgba(58, 183, 22, 1) 47%,
      rgba(255, 0, 236, 1) 100%
    );
    background: linear-gradient(
      11deg,
      rgba(236, 255, 0, 1) 0%,
      rgba(58, 183, 22, 1) 47%,
      rgba(255, 0, 236, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ecff00",endColorstr="#ff00ec",GradientType=1);
    align-items: center;
    display: flex;
  }

  .jajo {
    background-color: yellow;
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    text-align: center;
    mix-blend-mode: multiply;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .jajo:hover {
    animation-play-state: paused;
    transform: scale(15);
    transition: all 0.2s ease-in-out;
  }

  .box:nth-child(6) {
    display: none;
  }

  .box:nth-child(9) {
    flex-basis: calc(((100vw) / 6 - 16px / 6));

    flex-grow: 1;
  }
}

.flower-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.flower {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.flower1 {
  animation: showFlower1 4s 0s forwards;
}

.flower2 {
  animation: showFlower2 4s 4s forwards;
}

.flower3 {
  animation: showFlower3 4s 8s forwards;
}

.flower4 {
  animation: showFlower4 4s 12s forwards;
}

@keyframes showFlower1 {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes showFlower2 {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes showFlower3 {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes showFlower4 {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.card-4 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.jajo {
  background-color: yellow;
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  text-align: center;
  mix-blend-mode: multiply;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.jajo:hover {
  animation-play-state: paused;
  transform: scale(15);
  transition: all 0.2s ease-in-out;
}

/* https://www.drmaxdrogeria.pl/_i/-906516972.webp?m2=%2Fmedia%2Fcatalog%2Fproduct%2F0%2F1%2F01ef90efd6356_8001841182162_T1.png&fit=contain&w=350&h=350&format=webp */

.lenorTittle {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  margin-top: 0;
  text-transform: uppercase;
}

.lenorContent {
  text-align: justify;
  font-size: 1.5rem;
}

.lenorContent img {
  width: 40%;
  float: left;
  animation: fade 2s linear;
}

.lenorContent img:hover {
  transform: scale(110%);
}

.lenorTittle2 {
  font-size: 1.5rem;
  margin: 1rem 0;
  font-style: italic;
  text-align: center;
}

.box:nth-child(9) {
  background: linear-gradient(#5f94e9, #aaafe6);
  border: 1px solid rgb(129, 129, 130);
  padding: 2rem;
  overflow: auto;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
